body {
    margin: 0 auto;
    min-width: 1080px;
}

@font-face {
    font-family: 'footerFont';
    src: url('icon/icomoon.eot');
    src: url('icon/icomoon.woff2') format('woff2'), url('icon/icomoon.woff') format('woff'), url('icon/icomoon.ttf') format('truetype'), url('icon/icomoon.svg#icomoon') format('svg'), url('icon/icomoon.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

.white {
    color: white;
}

*[role="banner"] {
    font-weight: lighter;
    width: 99.9%;
    display: inline-block;
    color: rgb(179, 204, 204);
    padding-left: 0px;
    background: url("images/huntington.jpg");
}

*[role="banner"] h1 {
    color: white;
    font-family: 'Julius Sans One';
}

header h2 {
    font-style: italic;
    font-weight: lighter;
}

div h3 {
    text-transform: uppercase;
}

.main-content {
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
}

.padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

header img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    background-repeat: no-repeat;
}


/*.intro header #banner-icon{
    font-family: bannericon;
    font-size: 20px;
}*/

.content,
.content-2,
.content-3 {
    padding-right: 15px;
    padding-left: 30px;
    margin-right: 6%;
    margin-left: auto;
}

.content .summary {
    padding-top: 30px;
}

.content > div,
.content-2 >div,
.content-3>div {
    padding-left: 40px;
    padding-right: 20px;
}

.main-content .content,
.main-content .content-2,
.main-content .content-3 {
    float: left;
    width: 63%;
}

.main-content .side {
    top: -211px;
    /*width: 36%;*/
    float: right;
    padding-bottom: 100px;
    position: relative;
    right: 0px;
}

.side {
    top: 0px;
    float: right;
}

.article-1,
.article-2,
.article-3 {
    overflow: hidden;
    position: relative;
}

aside {
    float: left;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 26%;
    background: rgba(190, 243, 202, 0.3);
}

aside li {
    list-style-type: none;
    text-decoration: none;
}

aside ul {
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}

aside ul li {
    padding-top: 30px;
}

aside ul li .design-name,
aside ul .zen-resources {
    font-family: 'Julius Sans One';
    text-transform: uppercase;
    color: green !important;
}

.zen-resources li a {
    color: green;
    text-decoration: none;
}

aside ul li .designer-name {
    color: rgba(190, 243, 202, 0.8);
}

.topCLass {
    padding: 74px 6px 74px 6px;
    /*background: #47756b;*/
    opacity: 0.5;
}

.topCLass b {
    font-family: 'Julius Sans One';
    text-transform: uppercase;
    color: #fff;
    padding: 11px;
    border: 2px solid #2f706a;
    background: #2f706a;
}

.topCLass i {
    padding-left: 15px;
    padding-bottom: 13px;
    padding-right: 15px;
    border: 2px solid #2f706a;
    background: #2f706a;
    color: #fff;
    font-size: 30px;
    padding-top: 2px;
}

.fa-download {
    padding: 2px;
    border-radius: 2px;
    background: rgba(159, 203, 150, 0.4);
    color: rgba(159, 201, 171, 0.4);
}

#zen-participation {
    opacity: 0.5;
}

#content-2-backImage {
    background: url('images/bamboo.png');
}

footer {
    background: rgb(0, 102, 51);
    width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.center {
    text-align: center;
}

footer .footer-symbol li {
    display: inline-block;
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: footerFont;
}

#footerContent {
    background: url('images/koi.jpg');
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Julius Sans One';
}

@media only screen and (max-width: 768px) {
    .main-content {
        font-size: 24px;
    }

    .content,
    .content-2,
    .content-3 {
        padding: 0px;
        margin: 0 auto;
    }
    
    .article-1 .content,
    .article-2 .content-2,
    .article-3 .content-3 {
        width: 100%;
        float: left;
    }
    .sidebar {
        width: 100%;
        float: left;
        position: initial;
    }
    .content >div,
    .content-2>div,
    .content-3>div {
        padding: 0px;
    }
    .side {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .main-content {
        font-size: 34px;
        text-align: center;
    }
}
